name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v1

      - name: Setup bare
        run: npm i -g bare-runtime

      - name: Install dependencies
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test
