name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v4

      - if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756

      - name: Setup bare
        run: npm i -g bare-runtime

      - name: Install dependencies
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test
