name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x64
          - os: macos-latest
            platform: darwin
            arch: arm64
          - os: windows-latest
            platform: win32
            arch: x64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v4
      - run: git config --global core.longpaths true
      - uses: actions/cache@v4
        with:
          path: build/_drive
          key: corestore-${{ matrix.platform }}-${{ matrix.arch }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: |
          sudo apt update
          sudo apt install -y libgtk-4-dev libwebkitgtk-6.0-dev
        if: ${{ matrix.platform == 'linux' }}
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
        if: ${{ matrix.platform == 'linux' }}
      - run: choco upgrade llvm
        if: ${{ matrix.platform == 'win32' }}
      - run: choco install nasm
        if: ${{ matrix.platform == 'win32' }}
      - run: '(Get-ChildItem "$env:ProgramFiles(x86)\Windows Kits\10\bin\10.*\x64\signtool.exe" | Select-Object -First 1 | Split-Path) >> $env:GITHUB_PATH'
        if: ${{ matrix.platform == 'win32' }}
        shell: pwsh
      - name: Setup bare
        run: npm i -g bare-runtime
      - name: Install dependencies
        run: npm i
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
